<% @users.each do |user| %>
    <p>
        <strong>Username:</strong> <%= user.username %> <br>
        <strong>Full Name:</strong>  <%= user.full_name %> <br>
        <strong>Photo:</strong>  <%= user.photo %> <br>
        <strong>Cover Image:</strong>  <%= user.cover_image %> <br>
    </p>
<% end %>
