<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <a class="navbar-brand text-white" href="/"><i class="fab fa-twitter"></i></a>
        </div>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-pencil-alt"></i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-envelope"></i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-search"></i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-cog"></i></a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</nav>