<nav class=" navbar-expand-lg navbar-light p-2 travel-navbar">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="navbar-nav">
            <%= link_to root_path, class: "nav-link" do %>
               <i class="fas fa-umbrella-beach text-white "></i>
            <% end %>
        </div>
        <div id="navbarNav">
          <%= login_navbar %>
        </div>
    </div>
  </div>
</nav>