<nav class=" navbar-expand-lg navbar-light p-2 bg-primary">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="navbar-nav">
            <a class="navbar-brand text-white" href="/"><i class="fas fa-umbrella-beach"></i></a>
        </div>
        <div id="navbarNav">
            <ul class="navbar-nav text-secondary">
                <li class="nav-item pe-2">
                <a class="nav-link" aria-current="page" href="/"><i class="fas fa-pencil-alt"></i></a>
                </li>
                <li class="nav-item pe-2">
                <a class="nav-link" href="/"><i class="fas fa-envelope"></i></a>
                </li>
                <li class="nav-item pe-2">
                <a class="nav-link" href="/"><i class="fas fa-search"></i></a>
                </li>
                <li class="nav-item pe-2">
                <a class="nav-link" href="/"><i class="fas fa-cog"></i></a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</nav>