<nav class=" navbar-expand-lg navbar-light p-2 travel-navbar">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="navbar-nav">
            <%= link_to root_path, class: "nav-link" do %>
               <i class="fas fa-umbrella-beach text-white"></i>
            <% end %>
        </div>
        <div id="navbarNav">
          <% if Current.user %>
            <ul class="navbar-nav text-black-50">
                <li class="nav-item pe-2">
                  <%= link_to user_path(Current.user.id) do %>
                    <i class="fas fa-cog"></i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to logout_path, method: :delete, class: "btn p-2" do %>
                    Log out<i class="fas fa-door-open"></i>
                  <% end %>
                </li>
            </ul>
          <% end %>
        </div>
    </div>
  </div>
</nav>