<div class="welcome text-center">
    <div class="bd-highlight mb-3 p-5">
        <div class="welcome-border btn p-5">
            <h2 class="p-2 mb-3 text-light">Welcome to Travellers <i class="fas fa-umbrella-beach text-white"></i></h2>
            <div class="p-2">
                <span class="btn bg-light"><%= link_to 'Log in', sign_in_path %></span>
                <span class="btn bg-light"><%= link_to 'Sign up', new_user_path %></span>
            </div>
        </div>
    </div>
</div>